<div class="headerfour">
  <div class="top-header">
      <div class="container-fluid">
          <img src="path/to/your/photo.jpg" alt="Header Photo">
      </div>
  </div>

  <header class="header">
      <nav class="navbar navbar-expand-lg header-nav">
          <div class="container">
              <ul class="main-nav">
                  <li class="has-submenu">
                      <a href="#">Journaux comptable <i class="fas fa-chevron-down"></i></a>
                      <ul class="submenu">
                          <li><a href="/journals">Gestion des journaux</a></li>
                          <li><a href="/journal">Affichage des pièces journaux</a></li>
                      </ul>
                  </li>

                  <li class="has-submenu">
                      <a href="#">Pièces Comptable <i class="fas fa-chevron-down"></i></a>
                      <ul class="submenu">
                          <li><a href="/pieces">Gestion des pièces comptables</a></li>
                          <li><a href="/affiche">Affichage des pièces comptables</a></li>
                      </ul>
                  </li>

                  <li class="has-submenu">
                      <a href="#">Comptes Comptable <i class="fas fa-chevron-down"></i></a>
                      <ul class="submenu">
                          <li><a href="/comptes">Gestion des comptes comptables</a></li>
                      </ul>
                  </li>

                  <li class="has-submenu">
                      <a href="#">Autres <i class="fas fa-chevron-down"></i></a>
                      <ul class="submenu">
                          <li><a href="index.html">Accueil</a></li>
                      </ul>
                  </li>

                  <li><a href="/forum">Forum</a></li>
                  <li><a href="/chat">Chat</a></li>
              </ul>
          </div>
      </nav>
  </header>
</div>
