<footer class="footer ">
    <div class="footer-top">
    <div class="container">
    <div class="row">
    <div class="col-lg-3 col-md-6">
    
    <div class="footer-widget footer-about">
    <h2 class="footer-title">ABOUT All In One</h2>
    <div class="footer-about-content">
    <p> Dans notre plateforme vous trouverez tous que vous chercher , nous offrons plusieurs services pour vous satisfaire , vos satisfaction sera notre priorité !  </p>
    </div>
    </div>
    
    </div>
    <div class="col-lg-3 col-md-6">
    
    <div class="footer-widget footer-menu">
    <h2 class="footer-title">POPULAR COURSES</h2>
    <ul>
    <li><a href="courses.html">Development</a></li>
    <li><a href="courses.html">Business</a></li>
    <li><a href="courses.html">IT & Software</a></li>
    <li><a href="courses.html">Office Productivity</a></li>
    <li><a href="courses.html">Personal Development</a></li>
    </ul>
    </div>
    
    </div> 
    <div class="col-lg-3 col-md-6">
    
    <div class="footer-widget footer-menu">
    <h2 class="footer-title">SUPPORT</h2>
    <ul>
    <li><li><a href="/collocations">Cours</a></li>
    <li><li><a href="/chat">Disscussion</a></li>
    <li><li><a href="/collocations">collocations</a></li>
    <li><li><a href="/Forum">Forum</a></li>
    <li><li><a href="/collocations">Covoiturages</a></li>
    <li><li><a href="/collocations">Reclamation</a></li>
    </ul>
    </div>
    
    </div>
    <div class="col-lg-3 col-md-6">
    
    <div class="footer-widget footer-contact">
    <h2 class="footer-title">NEWSLETTER</h2>
    <p> Sign Up to Our Newsletter to Get Latest Updates & Services</p>
    <div class="my-3 footer-newsletter">
    <form class="input-group">
    <input type="email" placeholder="Enter Your Email">
    <div>
    <button class="btn btn-newsletter" type="submit"><i class="fa fa-paper-plane text-white" aria-hidden="true"></i></button>
    </div>
    </form>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="footer-bottom">
    <div class="container">
    
    <div class="copyright">
    <div class="row">
    <div class="col-md-4 col-lg-4">
    <div class="copyright-text">
    <p class="mb-0">© 2024 All Rights Reserved</p>
    </div>
    </div>
    <div class="col-md-6 col-lg-4">
    <div class="copyright-text">
    <p class="mb-0"><a href="term-condition.html">Terms and Conditions</a> - <a href="privacy-policy.html">Privacy Policy</a></p>
    </div>
    </div>
    <div class="col-md-2 col-lg-4 right-text">
    <div class="social-icon">
    <!-- <ul>
    <li><a href="#" class="icon" target="_blank"><i class="fab fa-facebook-f"></i> </a></li>
    <li><a href="#" class="icon" target="_blank"><i class="fab fa-twitter"></i> </a></li>
    <li><a href="#" class="icon" target="_blank"><i class="fab fa-instagram"></i> </a></li>
    <li><a href="#" class="icon" target="_blank"><i class="fab fa-linkedin-in"></i> </a></li>
    </ul> -->
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    
    </footer> 

    